<div class="app-root__top-background"></div>

<nav class="app-root__nav">
  <div class="app-root__nav__main">
    <div class="app-root__nav__main__title">Social media Dashboard</div>
    <div class="app-root__nav__main__sub-title">Total Audience: {{ totalAudience() | number }}</div>
  </div>
  <hr/>
  <div class="app-root__nav__switch">
    <div class="app-root__nav__switch__option">Dark mode</div>
    <app-switch class="app-root__nav__switch__app-switch" [(ngModel)]="checked" (ngModelChange)="setIsDarkMode($event)"/>
  </div>
</nav>

<section class="app-root__section" aria-label="Audience">
  <main class="app-root__section__container">
    @for (audience of audiences; track audience) {
      <app-audience-card
        [indicatorTopBorderColor]="audience.indicatorTopBorderColor"
        [typeOfCompany]="audience.typeOfCompany"
        [companyIcon]="audience.companyIcon"
        [altCompanyIcon]="audience.altCompanyIcon"
        [nick]="audience.nick"
        [numberOfAudience]="audience.numberOfAudience"
        [numberOfAudienceType]="audience.numberOfAudienceType"
        [numberOfAudienceOnDate]="audience.numberOfAudienceOnDate"
        [audienceDate]="audience.audienceDate"
      />
    }
  </main>
</section>

<section class="app-root__section">
  <div class="app-root__section__title">Overview - Today</div>
  <main class="app-root__section__container">
    @for (statistic of statistics; track statistic) {
      <app-statistic-event-card
        [event]="statistic.event"
        [companyIcon]="statistic.companyIcon"
        [altCompanyIcon]="statistic.altCompanyIcon"
        [eventCount]="statistic.eventCount"
        [eventCountRate]="statistic.eventCountRate"
      />
    }
  </main>
</section>
