.app-statistic-event-card {

  display: grid;
  padding: 18px 24px;
  border-radius: 6px;
  cursor: pointer;

  &__event {

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-bottom: 27px;

    &__name {
      font-weight: bold;
      font-size: 0.8rem;
    }
    &__img {
      justify-self: end;
      height: 20px;
      width: 20px;
    }
  }

  &__event-count {

    display: grid;
    grid-template-columns: auto auto;

    &__value {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__rate {

      justify-self: end;
      display: grid;
      grid-template-columns: auto auto;
      gap: 4px;
      font-size: 0.75rem;
      font-weight: bold;
      align-items: center;

      &--up {
      }

      &--down {
      }

      &__indicator {
      }

      &__value {

      }
    }
  }
}
